ENV=development
TESTING=false
DB_HOST=localhost
DB_PORT=5432
DB_USER=hng_user
DB_PASSWORD=hng_password
DB_NAME=profiledb
DB_TYPE=postgresql
GITHUB_CLIENT_SECRET=f681a5b63e469af3200f9a031ac5e899e43d2c6b
GITHUB_CLIENT_ID=Ov23li5TRfUSOaMnuset
JWT_SECRET_KEY=ab0e85efa4268375648d6d2667ebb49ac3f7292925938090158bc53c84b469f8